// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2026 Inochi Amaoto <inochiama@gmail.com>
 */

#include "sg2044.dtsi"

&osc {
	clock-frequency = <25000000>;
};

&emmc {
	bus-width = <4>;
	no-sdio;
	no-sd;
	non-removable;
	wp-inverted;
	status = "okay";
};

&efuse0 {
	status = "okay";
};

&gmac0 {
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";
	status = "okay";

	mdio {
		phy0: phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
			reset-gpios = <&porta 28 GPIO_ACTIVE_LOW>;
			reset-assert-us = <10000>;
			reset-deassert-us = <10000>;
			rx-internal-delay-ps = <2050>;
		};
	};
};

&i2c1 {
	status = "okay";

	mcu: syscon@17 {
		compatible = "sophgo,sg2044-hwmon-mcu", "sophgo,sg2042-hwmon-mcu";
		reg = <0x17>;
		#thermal-sensor-cells = <1>;
	};
};

&msi {
	status = "okay";
};

&pwm {
	status = "okay";
};

&sd {
	bus-width = <4>;
	no-sdio;
	no-mmc;
	wp-inverted;
	status = "okay";
};

&uart0 {
	/* for firmware */
	status = "reserved";
};

&uart1 {
	status = "okay";
};
