// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2024 Inochi Amaoto <inochiama@outlook.com>
 */

/dts-v1/;

#include <dt-bindings/leds/common.h>

#include "sg2044.dtsi"
#include "sg2044-clocks.dtsi"

/ {
	model = "Sophgo SG2044 EVB 1.0";
	compatible = "sophgo,sg2044-evb", "sophgo,sg2044";

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
	};

	chosen {
		bootargs = "console=ttyS1,115200n8 earlycon ignore_loglevel initrd=0x8b000000,32M no5lvl";
		stdout-path = "serial1:115200n8";
	};
};

&osc {
	clock-frequency = <25000000>;
};

&emmc {
	bus-width = <4>;
	no-sdio;
	no-sd;
	non-removable;
	wp-inverted;
	status = "okay";
};

&gmac0 {
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";
	status = "okay";

	mdio {
		phy0: phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
		};
	};
};

&phy0 {
	reset-gpios = <&porta 28 GPIO_ACTIVE_LOW>;
	reset-assert-us = <10000>;
	reset-deassert-us = <10000>;
	rx-internal-delay-ps = <2050>;
};

&i2c1 {
	status = "okay";

	mcu: syscon@17 {
		compatible = "sophgo,sg2044-hwmon-mcu", "sophgo,sg2042-hwmon-mcu";
		reg = <0x17>;
		#thermal-sensor-cells = <1>;
	};
};

&sd {
	bus-width = <4>;
	no-sdio;
	no-mmc;
	wp-inverted;
	status = "okay";
};

&uart1 {
	status = "okay";
};
